@tailwind base;
@tailwind components;
@tailwind utilities;

.change-background-point {
  background-color: red;
  -webkit-transition: background-color 2s linear;
  -ms-transition: background-color 2s linear;
  transition: background-color 2s linear;
}
